NEXT_PUBLIC_SUPABASE_URL=https://lmzapfwovmpjwtrfgcra.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.lmzapfwovmpjwtrfgcra.supabase.co:5432/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:[PASSWORD]@db.lmzapfwovmpjwtrfgcra.supabase.co:5432/postgres
ANTHROPIC_API_KEY=your-anthropic-api-key
